<html>
    <title>Comprobar Cuatriada | Music Tools</title>
    <head> 
        <h2>Comprobador de cuatriadas</h2>
    </head>

    <body style="background-color: #7bdd7b;">
        <h4>Ingresá las 4 notas de tu acorde</h4>

        <form action="/docheckcuat/" method="post">

            <p>Nota base: <input type="text" name="root"></p>
			<p>Tercera: <input type="text" name="third"></p>
			<p>Quinta: <input type="text" name="fift"></p>
            <p>Septima: <input type="text" name="seven"></p>
			<input type="submit" value="Comprobar">

        </form>

    </body>
</html>
