<html>
    <title>Comprobar Triada | Music Tools</title>
    <head> 
        <h2>Comprobador de triadas</h2>
    </head>

    <body style="background-color: #7bdd7b;">
        <h4>Ingresá las 3 notas de tu acorde</h4>

        <form action="/dochecktriad/" method="post">

            <p>Nota base: <input type="text" name="root" required></p>
			<p>Tercera: <input type="text" name="third" required></p>
			<p>Quinta: <input type="text" name="fift" required></p>
			<input type="submit" value="Comprobar">

        </form>

    </body>
</html>
