<html>
    <title>Intervalos | Music Tools</title>

    <head>
        <h2> Intervalos </h2>
    </head>

    <body style="background-color: #7bdd7b;">
        <h4>¡Este es el menú de Intervalos!</h4>

        <form action="checkinterval/" method="post">
            <button name="subject" type="submit" value="chords">Comprobar Intervalo</button>
            <p>Ingresás dos notas y obtendrás el intervalo formado por ellas en el sentido que indiques</p>
        </form>

        <form action="createinterval/" method="post">
            <button name="subject" type="submit" value="intervals">Crear Intervalo</button>
            <p>Ingresás una nota, un intervalo en un sentido y obtendrás la nota que forma dicho intervalo</p>
        </form>
