<html>
    <title>Music Tools | Leo Amato</title>

    <head>
        <h2> Menu Principal </h2>
    </head>

    <body style="background-color: #81cae0;">
        <h4>Seleccioná una opción</h4>

        <form action="/chords/" method="post">
            <button name="subject" type="submit" value="chords">Acordes</button>
        </form>

        <form action="/intervals/" method="post">
            <button name="subject" type="submit" value="intervals">Intervalos</button>
        </form>

        <form action="/scales/" method="post">
            <button name="subject" type="submit" value="scales">Escalas</button>
        </form>
    </body>
</html>

