<html>
    <title>Acordes | Music Tools</title>

    <head>
        <h2> Acordes </h2>
    </head>

    <body style="background-color: #7bdd7b;">
        <h4>¡Este es el menú de Acordes!</h4>

        <form action="checktriad/" method="post">
            <button name="subject" type="submit" value="chords">Comprobar Acorde triada</button>
            <p>Ingresás tres notas y obtendrás el acorde formado por ellas (mayor, menor, aum, dim)</p>
        </form>

        <form action="checkcuat/" method="post">
            <button name="subject" type="submit" value="intervals">Comprobar Acorde cuatriada</button>
            <p>Ingresás cuatro notas y obtendrás el acorde formado por ellas (Maj7, m7, 7, m7b5)</p>
        </form>

        <form action="createtriad/" method="post">
            <button name="subject" type="submit" value="chords">Crear Acorde triada</button>
            <p>Ingresás una nota base y un tipo de acorde triada y obtendrás las notas que forman dicho acorde</p>
        </form>

        <form action="createcuat/" method="post">
            <button name="subject" type="submit" value="intervals">Crear Acorde cuatriada</button>
            <p>Ingresás una nota base y un tipo de acorde cuatriada y obtendrás las notas que forman dicho acorde</p>
        </form>

    </body>
</html>

